@import "reset.css";
@import "skeleton.css";
@import "superfish.css";
@import "flexslider.css";
@import "ui.totop.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {font-family:'Rambla', Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; color:#828281; min-width:960px; background:#0d0d0d; -webkit-text-size-adjust: none;}

/*********************************fonts*************************************/
.reg {text-transform:none}
.f_left {float:left}
.f_right {float:right}
.align_right {text-align:right}
.align_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

/*********************************CLASSES**********************************/
.m_bottom_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bottom_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {width:100%;overflow:hidden}
.extra_wrapper{ overflow:hidden;}
.container{width:100%}
.extra_last, .last{ margin-bottom:0 !important; padding-bottom:0 !important;}
.extra_last{ border:none !important; background:none !important;}
.bg_none{ background:none !important;}

/*==================================== Links ======================================================== */
a {color:#828281;outline:none; text-decoration:none; cursor:pointer;}
a:hover{ color:#A30000; text-decoration:underline;}

.button{ display:inline-block; padding:5px 9px 6px; margin: 0px; float:right; font-size: 14px; line-height: 19px; color:#fff;position: relative;background: #0d0d0d;text-transform: none;}
.button:hover{color:#fff;}
.button span{display: inline-block;position: relative;z-index: 10;}
.button em{position: absolute;width: 100%;height: 100%;z-index: 1;left: 0;top: 0;background: #a30000;}
.button:hover em{left: 50%;top: 50%;width: 0;height: 0;}

/*********************************Displays*************************************/
.block{ display:block;}
.inline-block{ display:inline-block;}

/*================================>> aside <<========================================*/
aside{background:#383838;}
.social{ overflow:hidden; float: right; font-family:'Rambla', Arial, Helvetica, sans-serif; font-size:11px; line-height:10px; color:#fff;padding-right:10px;}
.social a{ color: #fff; text-decoration:none; }
.social a:hover { text-decoration:underline;}
.social a.y{ color: #ffb400; text-decoration:underline; }

/*********************************header*************************************/

header {
background: #1b9772; 
padding: 0px; 
height: 120px;
/* height: 99px; */
}
header h1{
width:950px;
/* width:602px;
float: left; */

}
header h1 a {
display:block;
width:950px;
/* width:602px; */
height:99px;
background:url(../images/logo.png) 0 0 no-repeat; 
text-decoration:none; 
text-indent:-9999px;}

/*********************************content*************************************/
#content {padding:30px 0px 29px;background: #efefef;}

/*===============================>> Paragraphs <<=============================*/

p {margin-bottom:18px}
.p2{ margin-bottom:13px;}
.p3{ margin-bottom:11px;}
.p4{ margin-bottom:15px;}

/*================================>> LISTS <<========================================*/
.list1{}
.list1 li{ background:url(../images/marker1.png) 1px 4px no-repeat; margin-bottom: 7px; padding-left:15px;}
.list1 a{font-size: 14px;color: #fff;font-weight: bold;text-transform: none;}

/*================================>> H <<========================================*/
h4{ font-weight:normal;}
h2{font-size: 22px; line-height: 28px; color:#fff;font-weight: bold;padding: 14px 19px 15px;margin-bottom: 10px;}

h3{font-size: 14px;color: #fff;}
/*================================>> GOOGLE FONTS  <<========================================*/

/*================================>> hovers <<========================================*/
.sf-menu li a, .news a, .link1, .link2, .services>li, .link3, #toTop, .menu-arrow{-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}

.sf-menu li a strong,.flex-control-paging li a, .button em{-webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
   -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
     -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */}

/*********************************page_1*************************************/
.ext_list>li, .ext_box{ overflow:hidden;}
.ext_list>li>figure, .ext_box>figure{ float:left;}
.ext_list>li>div, .ext_box>div{overflow:hidden;}

.flexslider .banner{position: absolute;left: 0;bottom: 0;width: 100%;height: 82px;background: url('../images/slider_banner.png') repeat;}
.flexslider .banner .inner{padding:  19px 0 0 17px; font-size: 23px; line-height: 58px; color: #fff; text-transform: none;font-weight: bold;}
.flexslider .banner .inner span{color: #a30000;margin-top: -6px;display: inline-block;font-size: 43px;}

.box-search{}
.box-search .title{background: #fff;text-align: right;}

.box1{}
.box1 .title{background: #fff;color: #0d0d0d;}
.box1 .inner{background: #fff;padding: 19px 20px 20px;}
.box1 img{margin-bottom: 14px;}

.box2{}
.box2 .title, .box2 .inner{background: #a30000;}
.box2 .inner{padding:  16px 15px 6px 20px;}
.box2 .inner1{background: #a30000; padding:  24px 15px 25px 20px;}
.box2 .inner2{background: #a30000; padding:  16px 15px 25px 19px;}
.box2 a, .box2{color: #fff;}
.link1:hover, .box2 a:hover{color: #545454;}

.box3{color: #fff;}
.box3 .inner, .box3 .inner1, .box3 .title{background: #8d8c8c;}
.box3 .inner{padding: 15px 10px 20px 19px;}
.box3 .inner1{padding: 18px 20px 25px 20px;}

.box4{color: #fff;}
.box4 .inner, .box4 .title{background: #bbbaba;}
.box4 .inner{padding: 15px 10px 20px 19px;}
.box4 .inner1{background: #8d8c8c;padding: 20px 19px 20px;}

.news{padding:  0 0 0 0px;}
.news>li{background: #a30000; padding:  15px 10px 16px 19px;word-spacing: -1px; margin-bottom: 10px;}
.news time{font-size: 14px;font-weight: bold;color: #fff;display: block;background: url('https://swapglobalventures.com/investment_section/images/time_marker.png') 0 5px no-repeat;padding:  0 0 0 16px;margin-bottom: 10px;}
.news .m_bottom_zero{padding-bottom: 19px;}

.services{}
.services h3{margin-bottom: 9px;}
.services>li{padding: 16px 0 16px 19px;margin-bottom: 10px;background: #bbbaba;}
.services>li:hover{background: #8d8c8c;}
.services, .services a{color: #fff;}

.m_bot1{margin-bottom: 30px;}
.m_bot2{margin-bottom: 20px;}
.m_bot3{margin-bottom: 24px;}

.link2, .link1{color: #fff;border-bottom: 2px solid #ffce80; text-transform: none; font-size: 14px;}
.link2{border-color: #c6c6c6;margin-top: 23px;display: inline-block;}
.link3:after{display: inline-block;width: 5px;height: 9px;background: url('https://swapglobalventures.com/investment_section/images/link3_marker.png') no-repeat;margin:  4px 0 0 10px;content: "";}
.link3:hover{color: #a30000;}

.link1:hover, .link2:hover{border-color: #fff;}

.link_ind1{margin-top: 19px;}

/*********************************page_2*************************************/
.we_are>li{border-bottom: 1px solid #ffbf59;padding-bottom: 5px; margin-bottom: 17px;}
.we_are>li>div{word-spacing: -1px;}
.we_are>li>figure{margin: 3px 19px 0 0;padding: 4px 0 15px;width: 51px;text-align: center;font-size: 36px; line-height: 43px; color: #a30000;font-weight: bold;background: url('https://swapglobalventures.com/investment_section/images/big_marker.png') no-repeat;}

ul li.last_li{border: none;}

.testimonial{position: relative;-webkit-border-radius: 11px;-moz-border-radius: 11px;border-radius: 11px;background: url('https://swapglobalventures.com/investment_section/images/testimonials.jpg') repeat-x #bdbcbc;padding:  20px 30px 20px;margin-bottom: 11px;word-spacing: -2px;position: relative;}
.testimonial:after{width: 36px;height: 21px;position: absolute;bottom: -21px;left: 64px;background: url('https://swapglobalventures.com/investment_section/images/test_after.png') no-repeat;display: block;content: "";}
.testimonial:before{width: 30px;height: 26px;display: block;background: url('https://swapglobalventures.com/investment_section/images/quotes.png') no-repeat;position: absolute;left: 20px;top: 15px;content: "";}
.author{text-align: right;margin-bottom: 26px;}

.work{background: #ffba4d;margin-left: 20px;padding: 13px 13px 11px;float: left;width: 157px;}
.work img{margin-bottom: 10px;}

.first{margin-left: 0 !important;}
/*********************************page_3*************************************/

.overview{margin-bottom: 6px;}
.overview>li{margin-bottom: 18px;}
.overview>li>div{}
.overview>li>figure{margin: 4px 19px 0 1px;}
/*********************************page_4*************************************/
.gallery{width: 265px;float: left;background: #afafaf; padding: 13px 13px 18px;margin-left: 18px;}
.gallery img{margin-bottom: 15px;}
/*********************************page_5*************************************/
.faqs>li{margin-bottom: 22px;}




/* Contact form */
#contact-form {padding:3px 0 2px 0;}
#contact-form .success {width:246px;  padding:10px;}
#contact-form textarea, #contact-form input {margin:0;font-size:12px; border:1px solid #e5e5e5; color:#83868a; padding:10px 13px 9px;outline:none; position:relative; font-family:'Rambla', Arial, Helvetica, sans-serif;background:#fff;}
#contact-form input {width:319px;float: left;}
#contact-form textarea {overflow:auto; width:562px; height:220px;resize:none; float:left; margin: 0 0 0 0;}	
#contact-form label {display:inline-block; min-height:46px; overflow:hidden;}	
#contact-form label.message { display:block; padding-bottom:0; }
#contact-form .link2 {margin-left:8px;}	
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}	
#contact-form .error, #contact-form .empty {text-align:left; color:#fff; font-size:11px; float: left;}
#contact-form .buttons2 {overflow:hidden;text-align:right; position:relative; clear:both; padding-top:15px;padding-right: 10px;}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{ display:block; margin: 0px 0 0 5px;}

.map_wrapper{overflow:hidden;display:block;margin-bottom:16px;padding: 3px 4px 0 0;}
#map_canvas {
   width:100%;
   height:276px;
}
.adress{}
.adress span{ display:inline-block; width:74px;}
.adress dt{ margin-bottom:11px;}

.demo{text-decoration: underline;}
.demo:hover{ text-decoration:none;}
/****************************footer************************/
footer {padding:27px 0; }

footer h3{margin-bottom: 13px;color: #353535;}
footer dl{text-transform: none;}
footer dl dd{margin-bottom: 3px;}
footer dd a.foot{color: #a30000; text-decoration:underline;}
footer dd a.foot:hover{text-decoration:none;}
footer .f_stripe{background: #bbbaba;height: 6px;margin:  22px 5px 0;}
.privacy{padding: 7px 2px 0;}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
 body{min-width:768px;}
 .flexslider .banner .inner{font-size: 20px;}
 .work img{width: 100%;}
 .work{margin-left: 5px;width: 126px;}
 .m_bot2{margin-bottom: 5px;}
 .gallery{width: 200px;}
 #contact-form textarea {width: 435px;}
}

@media only screen and (max-width: 767px) {
 body{min-width:420px;}
 header h1, nav{float: none;}
 header h1, header h1 a{width: 100%;height: 152px;-webkit-background-size: contain;
 background-size: contain;}
 .flexslider .banner{display: none;}
 img{width: 100%;}
 footer .container_24 .f_col1{float: left;width: 50%;margin: 0 0 15px;}
 .gallery, .work{float: none;margin: 0 0 30px;width:auto;}
 .overview>li>div{overflow: visible;}
 .m_bot3{margin-bottom: 0;}
 #contact-form textarea, #contact-form input {width: 353px;}
 footer .f_stripe{margin-left: 0;margin-right: 0;}
}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
 header h1, header h1 a{height: 110px;}
 header{padding-bottom: 10px;}
 .overview>li>figure{float: none;margin:0 0 15px 0;}
 .overview{padding-right: 10px;}
  #contact-form textarea, #contact-form input {width: 233px;}
}


/*login form*/
.login {
  position: relative;
  margin: 0 auto;
  /* padding: 20px 20px 20px; */
  width: 310px;
  /* width: 310px; 
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);*/
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 240px;
  /* 278px */
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: center;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: #828281;
  text-align: center;
 /*  text-shadow: 0 1px #2a85a1; */
}
.login-help a {
  color: #A30000;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}


.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
/*login form css End*/
.btn a{
  color: #ffffff;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn:hover a{
  color: #ffffff;
  text-decoration: none;
}
